
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 40px;
}
p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
}
.text {
    text-align: center;
    margin-top: 100px;

}